<a href="https://colab.research.google.com/github/RodeTavera/KOF/blob/main/TAREA_1_(EUNICE)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
from google.colab import drive
import os
drive.mount('/content/gdrive')
# Establecer ruta de acceso en drive
import os
print(os.getcwd())

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
/content/gdrive/My Drive

In [ ]:
%cd '/content/gdrive/MyDrive/'
gastos = pd.read_csv('gastoshogar.csv')

[Errno 2] No such file or directory: '/content/gdrive/MyDrive/FEMSA'
/content/gdrive/MyDrive

<ipython-input-12-262a4faba230>:2: DtypeWarning: Columns (13,14,16,20,21,22,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  gastos = pd.read_csv('gastoshogar.csv')

In [ ]:
gastos

,folioviv,foliohog,clave,tipo_gasto,mes_dia,forma_pag1,forma_pag2,forma_pag3,lugar_comp,orga_inst,...,inmujer,inst_1,inst_2,num_meses,num_pagos,ultim_pago,gasto_tri,gasto_nm,gas_nm_tri,imujer_tri
0,100013605,1,C001,G1,0,1,0,0,6,0,...,,,,,,,108.0,,,
1,100013605,1,C004,G1,0,1,0,0,6,0,...,,,,,,,57.0,,,
2,100013605,1,C005,G1,0,1,0,0,6,0,...,,,,,,,69.0,,,
3,100013605,1,C006,G1,0,1,0,0,6,0,...,,,,,,,45.0,,,
4,100013605,1,C015,G1,0,1,0,0,6,0,...,,,,,,,96.0,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4948439,3260770714,1,G104,G7,0,0,0,0,0,0,...,,,,,,,,1000,3000,
4948440,3260770715,1,G104,G7,0,0,0,0,0,0,...,,,,,,,,1000,3000,
4948441,3260770716,1,G105,G7,0,0,0,0,0,0,...,,,,,,,,500,1500,
4948442,3260770717,1,G105,G7,0,0,0,0,0,0,...,,,,,,,,1000,3000,
4948443,3260770718,1,G105,G7,0,0,0,0,0,0,...,,,,,,,,1500,4500,

In [14]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 19.0 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824025 sha256=908d20a3529c534e7b07029dfd8d1af9dc5823c8c35a9eb0a1f10638c06dc36f
  Stored in directory: /root/.cache/pip/wheels/6c/e3/9b/0525ce8a69478916513509d43693511463c6468db0de237c86
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [15]:
from pyspark.sql import SparkSession
my_spark = SparkSession.builder.getOrCreate()
print(my_spark)

<pyspark.sql.session.SparkSession object at 0x7f2856430640>